[Unit]
Description=Asus BIOS Updates Notifier
Wants=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Service]
Type=simple
StandardOutput=append:$ERROR_LOG_FILE_PATH
StandardError=append:$ERROR_LOG_FILE_PATH
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 60; done;'
ExecStart=/bin/bash /usr/share/asus-bios-updates-notifier/script.sh
TimeoutSec=60
Restart=on-failure
Environment="BIOS_IS_UPGRADABLE_SCRIPT_FILE_PATH=$BIOS_IS_UPGRADABLE_SCRIPT_FILE_PATH"
Environment="BIOS_IS_UPTODATE_SCRIPT_FILE_PATH=$BIOS_IS_UPTODATE_SCRIPT_FILE_PATH"
Environment="DBUS_SESSION_BUS_ADDRESS=$DBUS_SESSION_BUS_ADDRESS"

[Install]
WantedBy=default.target